[Desktop Entry]
Name=Synthesis-Dark
X-KDE-PluginInfo-Author=Eirikr (Oichkatzelesfrettschen)
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=Synthesis-Dark
X-KDE-PluginInfo-Version=2.0.0
