[Desktop Entry]
Name=Synthesis-Dark-Purple
X-KDE-PluginInfo-Author=Eirikr (Oichkatzelesfrettschen)
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=Synthesis-Dark-Purple
X-KDE-PluginInfo-Version=2.0.0
X-KDE-PluginInfo-Website=https://github.com/Oichkatzelesfrettschen/Synthesis-Dark-Theme
X-KDE-ServiceTypes=Plasma/LookAndFeel

X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1370679,kns://plasma-themes.knsrc/api.kde-look.org/1370687,kns://plasma-themes.knsrc/api.kde-look.org/1420691,kns://aurorae.knsrc/api.kde-look.org/1370682,kns://sddmtheme.knsrc/api.kde-look.org/1374247,kns://wallpaper.knsrc/api.kde-look.org/1378234,kns://xcursor.knsrc/api.kde-look.org/1669262,kns://plasmoids.knsrc/api.kde-look.org/2048016